/* Basic HTML elements */

body { 
    padding: 0;
    margin: 0;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #384246),
        color-stop(1, #4F595D),
        color-stop(1, #31353E),
        color-stop(1, #191B28)
    );
    background-image: -o-linear-gradient(bottom, #384246 0%, #4F595D 100%, #31353E 100%, #191B28 100%);
    background-image: -moz-linear-gradient(bottom, #384246 0%, #4F595D 100%, #31353E 100%, #191B28 100%);
    background-image: -webkit-linear-gradient(bottom, #384246 0%, #4F595D 100%, #31353E 100%, #191B28 100%);
    background-image: -ms-linear-gradient(bottom, #384246 0%, #4F595D 100%, #31353E 100%, #191B28 100%);
    background-image: linear-gradient(to bottom, #384246 0%, #4F595D 100%, #31353E 100%, #191B28 100%);
}


/* Bootstrap Elements */

.container {
    margin: auto;
    padding: 0;
    background-color: #ffffff;
    height: 100%;
}

.row {
    margin: 0;
}

.nav-tabs {
    border-bottom: 0;
}    

.nav-tabs>li>a {
    border: 0;
}

/* Custom Elements */
/* 
IMAGE REFERENCE: https://cloud.githubusercontent.com/assets/81618/2906019/d318d342-d60b-11e3-9658-759e3ab06957.jpg
container sidebar top: #a48ad4;
container sidebar selected: #1e202c
container sidebar background gradient top: #2d2f3b
container sidebar background gradient bottom: #2b2d39 
*/

#sidebar {    
    padding: 0;
    margin: 0;    
    height: 100%;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #2C2F3A),
        color-stop(1, #474C57)
    );
    background-image: -o-linear-gradient(bottom, #2C2F3A 0%, #474C57 100%);
    background-image: -moz-linear-gradient(bottom, #2C2F3A 0%, #474C57 100%);
    background-image: -webkit-linear-gradient(bottom, #2C2F3A 0%, #474C57 100%);
    background-image: -ms-linear-gradient(bottom, #2C2F3A 0%, #474C57 100%);
    background-image: linear-gradient(to bottom, #2C2F3A 0%, #474C57 100%);
}


#sidebar_header {
    padding: 1em 0 0.25em 1em;
    margin: -0.7em 0 0 0;    
    background-color: #a48ad4;
    color: #ffffff;
}

#brand_logo {
    padding: 0 0.5em 0 0.5em;
}

#brand_name {
    padding: 1em 0.5em 0 0.5em;
}

#logo {
    width: 100%;
    /* rounded corners below */
    border-radius: 50%; 
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;     
}

#username {
    text-align: center;
}

#sidebar_content {
    padding: 3em 0 0 0;    
}

#content_nav>li {
    padding: 0 0 0.5em 0;
    clear: both;
}

#content_nav>li>a {
    letter-spacing: 0.25em;
    color: #9899a0;
}

#content_nav>li>a:hover {
    background-color: transparent;
    color: #ffffff ;
}

#workspace {
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    height: 100%;
}

#workspace_header {
    background-color: #ffffff;
}

#workspace_header h2 {
    text-align: center; 
    margin: 0;
    padding: 0.25em 0 0.25em 0; /* top, right, bottom, left */
}

