/* 
    References:
        http://kyleschaeffer.com/user-experience/css-font-size-em-vs-px-vs-pt-vs/ 
        http://www.google.com/fonts/
*/


/* Basic HTML elements */

body { 
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
}

h1 { 
    font-size: 4em;
}

h2 { 
    font-size: 3em;
}

h3 { 
    font-size: 2.5em;
}

h4 { 
    font-size: 2.0em;
}

h5 { 
    font-size: 1.75em;
}

h6 { 
    font-size: 1.5em;
}

p { 
    font-size: 1em;
}

a { 
    font-size: 1em;
}


/* Custom Elements */

#sidebar_content,
#workspace_header h2 {
    font-weight: bold;     
}

